<h1>New User</h1>

<!-- Plain HTML
<form accept-charset="UTF-8" action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <label for="username">Username: </label>
  <input type="text" id="username" name="user[username]" />
  <label for="email">E-mail: </label>
  <input type="text" id="email" name="user[email]" />
  <label for="password">Password: </label>
  <input type="password" id="password" name="user[password]" />
  <input type="submit" value="Submit">
</form>
-->

<!-- Basic Rails tags
<%= form_with(url: "/users", method: "post") do %>
  <%= label_tag(:username, "Username: ") %>
  <%= text_field_tag(:username) %>
  <%= label_tag(:email, "E-mail: ") %>
  <%= text_field_tag(:email) %>
  <%= label_tag(:password, "Password: ") %>
  <%= password_field_tag(:password) %>
  <%= submit_tag("Submit") %>
<% end %>
-->

<%= form_with model: @user, local: true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> found.</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :username, "Username: " %>
  <%= f.text_field :username, placeholder: "Your user name here" %>
  <%= f.label :email, "E-mail: " %>
  <%= f.text_field :email, placeholder: "example@example.com" %>
  <%= f.label :password, "Password: " %>
  <%= f.password_field :password, placeholder: "Your password here" %>
  <%= f.submit "Submit" %>
<% end %>